.navigation
{
	background-color: #ff6600;
	/*margin-bottom: 0px;*/
}
.inline
{
	display: inline;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.faraway
{
	display: inline;
	float: right;
	font-family: Verdana, Geneva, sans-serif;
	padding-left: 150px;
	font-size: 10pt;
}

.firstclass
{
	
	display: inline;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.ulclass
{
	display: none;
	margin-left: 0px;
	padding-left: 0px;
	border-left: 0px;
	border-top: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.link
{
	text-decoration: none;
	color: black;
}
.outline
{
	display: inline;
	float: left;
	padding-right: 10px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    
}
.between
{
	display: inline;
	float: left;
}
.secondclass
{
	float: left;
	display: inline;
	
	border: 2px;
	border-style: solid;
}
article
{
	background-color: #a0a0a01f;
}
.title
{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 12pt;
}
.halla
{
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
}
.footerlink
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 5px;
}
.footertext
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 5px;
}
.footerlink1
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 5px;
	/*padding-left: 270px;*/
	/*margin-left: 70px;*/
}
.footertext2
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	padding-right: 0px;
	/*padding-left: 0px;*/
}
.newlink
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	margin-left: 40px; 
	margin-top: 20px;
	border-top: 20px;
	padding-top: 20px;
}
.divclass
{
	background-color: #ff6600;
	padding-bottom: 1px;
	padding-top: 1px;
	border-top: 1px;
	border-bottom: 1px;
}
.newinline
{
	display: inline;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 19px;
	float: left;
	padding-right: 5px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.newnew
{
	width: 100%; 
}
.field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 3330px;
  height: 40px;
}
.ulclass1
{
	margin-left: 0px;
	padding-left: 0px;
	border-left: 0px;
	border-top: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.doright
{
	float: right;
}
.jjh
{
	float: right;
}
.ulclass2
{
	display: none;
}






