.navigation
{
	
	background-color: #ff6600;
	/*margin-bottom: 0px;*/
}
.inline
{
	display: inline;
	padding: 0 5px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.faraway
{
	display: inline;
	padding-left: 50px;
	float: right;

}

.firstclass
{
	
	display: inline;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.ulclass
{
	display: none;
	margin-left: 0px;
	padding-left: 0px;
	border-left: 0px;
	border-top: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.link
{
	text-decoration: none;
	color: black;
}
.outline
{
	display: inline;
	float: left;
	padding-right: 10px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.between
{
	display: inline;
}
.secondclass
{
	
	display: inline;
	float: left;
	border: 2px;
	border-style: solid;
}
article
{
	background-color: #a0a0a01f;
}
.title
{
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}
.halla
{
	padding-top: 0px;
	margin-top: 0px;
	border-top: 0px;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
}
.footerlink
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 5px;
}
.footertext
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 1px;
}
.footerlink1
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	padding-right: 1px;
	/*padding-left: 270px;*/
	/*margin-left: 270px;*/
}
.footertext2
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	padding-right: 1px;
	/*padding-left: 450px;*/
}
.newlink
{
	text-decoration: none;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	margin-left: 40px; 
	margin-top: 20px;
	border-top: 20px;
	padding-top: 20px;
}
.divclass
{
	background-color: #ff6600;
	padding-bottom: 1px;
	padding-top: 1px;
	border-top: 1px;
	border-bottom: 1px;
}
.newinline
{
	display: inline;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 5px;
	padding-left: 0px;
	float: left;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

footer
{
	text-align: center;
}
.ulclass1
{
	display: none;

}
.ulclass2
{
	
	padding-left: 0px;
	border-top: 10px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*text-align: center;*/
}
.doright
{
	float: right;
}







